http_password: 12341234
http_trusted_network_range: 192.168.1.0/24
http_base_url: https://mydomain.org

mqtt_password: 12341234

roku_ip_address: 192.168.1.2

zone_home_name: zone1
zone_home_latitude: zone1_lat
zone_home_longitude: zone1_lng

zone_school_name: zone2
zone_school_latitude: zone2_lat
zone_school_longitude: zone2_lng

zone_daycare_name: zone3
zone_daycare_latitude: zone3_lat
zone_daycare_longitude: zone3_lng